@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style-type: none;

}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;

  outline: none !important;
}

input {
  border: none;
}

body {
 background-color: #94B053;
  background-size: cover;
  overflow-y: hidden;
 

}

header {
  background-color: hwb(0 96% 4%);
  text-align: center;
}

.box-login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.box-login p{
  font-family: 'Press Start 2P', cursive;
  font-size: 100px;
  color: #485726;
  
}
