@media screen and (max-width:768px) {
  .sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .texto-sobre{
    
    font-size: 70%;
  }
  
}
